*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

table {
  max-width: 960px;
  margin: 10px auto;
}

caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}

thead th {
  font-weight: 400;
  background: rgb(26, 202, 114);
  color: #FFF;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #e8eeef;
}

th, td {
  text-align: left;
  padding: 20px;
  font-weight: 300;
}

tfoot tr {
  background: none;
}

tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
}
tr td:nth-child(4n+1) {
  order: 1;
}
tr th{
  order: 1;
}
tr td:nth-child(4n+2) {
  order: 2;
}
tr td:nth-child(4n+3) {
  order: 3;
}
tr td:nth-child(4n+4) {
  order: 4;
}

tr th:nth-child(4n+2) {
  order: 2;
}
tr th:nth-child(4n+3) {
  order: 3;
}
tr th:nth-child(4n+4) {
  order: 4;
}
#features {
  display: inline-block;
  height: 100%;
  width: 100%;
}

#features .feature-block {
  background: #fff none repeat scroll 0 0;
  padding: 30px 20px;
  margin-bottom: 30px;
  transition: all 0.5s ease-in-out 0s;
}

#features .feature-block:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out 0s;
}

#features .feature-block h4 {
  margin-bottom: 20px;
}

#features .feature-block p {
  margin-bottom: 0;
}
.dates{
  text-align: center;
  padding-top: 20px;
}