table {
    width: 100%;
    padding: 20px;
    }
    form{
        padding: 20px;
        margin: 20px;
    }
    html{
        padding: 20px;
        margin: 20px;
        
    }
    th {
        background-color: #4CAF50;
        color: white;
      }th, td {
        padding: 15px;
        text-align: left;
      }
      #thedropdown{
          background: #4CAF50;
          border-radius: 12px;
          color: white;
          height: 80px;
          font-size: 18px;
      }
      h1{
          text-align: center;
      }
      